*.pyc
*.inp
*.png
*.txt
*.12d
*.cvg
*.dat
*.frd
*.sta
venv/
*.step
*.stl
*.pmx
temp/
*.txt
simpleShellThicknessOpt/03_results/AAA_thickness_optimization_plot.png
simpleShellThicknessOpt/03_results/dummy.txt
*.yaml