*.pyc
*.inp
*.png
*.txt
!requirements.txt
*.12d
*.cvg
*.dat
*.frd
*.sta
venv/
*.step
*.stl
!base_geometry.stl
*.pmx
!displacement.pmx
temp/
simpleShellThicknessOpt/03_results/AAA_thickness_optimization_plot.png
simpleShellThicknessOpt/03_results/dummy.txt
*.yaml
*edgeNodes
*.vol
*meshRefinement
*meshParameters
*.out
*.log
determineMaterialProperties/data/
*.spydata
*.tmp
determineMaterialProperties/PrePoMax v2.2.0/